#header {
  margin-left: 80px;
  margin-right: 80px;
  padding: 5px;
  border-style: solid;
  text-align: center;
  background-color: #ebebeb;
  color: black; /* färg på texten */
  font-size: 20px; /* ändrar strl på textn*/
  font-family: Verdana; 
}
.navbar ul {
  list-style: none;
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: 0; /*  var 0 */
  border: 0;
  color: currentColor;
}
.navbar a:hover {
  color: #666;
  border-color: 0;
}

h2 {
  font-family: Arial;
  text-align: center;
  color: black;
}

figure {
  background-color: #ebebeb;
  border: 2px;
  padding: 5px;
  text-align: center;
}
figcaption {
  background-color: darkgoldenrod;
  padding: 5px 5px;
}

.footer {
  position: fixed; /* Footen är alltid synlig när man skrollar ner*/
  left: 0; /* Footer börjar från sidans vänstra kant*/
  bottom: 0; /*Footern går ända ner till kanten på sidan*/
  width: 100%; /*Footern går fr kant till kant, fr vänster kant till höger kant*/
  background-color: teal; /* Färgen på footern, bakgrunds färg */
  color: white; /* Texten är vit*/
  text-align: center; /* Texten är centrerad */
  padding: 10px;
}

* {
  box-sizing: border-box;
}

form {
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;  /* Centrerad i mitten*/
  margin-right: auto;
  padding: 1em;
}
form input {     /* där användaren skriver in*/
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  border: 0;
}

form label {
  text-align: left;  /* texten ska så till vänster*/
 /* display: block;*/
  
}
form input:focus {
  outline: 3px solid darkgoldenrod; /* ramen ändrar färg när man skriver in namn */
}


@media (max-width: 400px) {   /* Ger ett ljust grått bakgrund till inputen*/
  form {
    overflow: hidden; /* detta gör att det blir hela, alla input raderna*/
    background-color: red;
  }

  header {
    text-align: center;
    background-color: #ebebeb;
  }


  label {
    float: left;  /* texten är  till vänster*/
    width: 200px;
  }
  
  button {
    float: right;
    width: 100% 
  }
}

#tack {
  font-style: italic;
  text-align: center;
  margin-bottom: 130px;
  margin-left: 80px;
  margin-right: 80px;
  font-size: medium;
}

article {
  width: 65%;
  float: left;
  padding: 100px;
}

aside {
  width: 25%;
  float: left;
  background-color: #bebebe;
  color: black;
  padding: 10px;
  margin-top: 130px; /* 130px så det ligger precis jämnt med sista raden på texten*/
}

table, th, td {
  border:1px solid black;/* ramen runt om*/
  padding: 10px;           /*texten från border*/
  background-color: #bebebe;
  margin-top: 30px;
}

